body {
  margin: 0;
  padding: 0;
  background: #151515 url("../media/bkg.png") 0 0;
  background-size: cover;
  color: #eaeaea;
  font: 16px;
  line-height: 1.5;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

video { display: block; }

video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url("../media/bkg.png") no-repeat;
    background-size: cover; 
}

@media screen and (max-device-width: 800px) {
    video#bgvid {
        display: none;
    }
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.8;
  background-color: hsla(230,64%,12%,1);
}

#index {
  position: absolute;
  top: 50px;
  left: 50px;
  font-family: monospace;
  font-size: 45px;
}

#time {
  position: absolute;
  top: 100px;
  left: 50px;
  font-family: monospace;
  font-size: 45px;
}
