* {
    margin: 0;
    padding: 0;
}

body {
	background: #000;
	background-size: cover;
	color: #eaeaea;
	font: 16px;
	line-height: 1.5;
	font-family: Terminal, monospace;
	overflow: hidden;
}

.bfmags {
	width: 686px;
	margin: 200px auto 0;
	padding-left: 150px;
	animation:zoomin 20s linear 1;
}

@keyframes zoomin {
    from {transform: scale(0.4); }
    to {transform: scale(1); }
}

.bfmags-svg{
	position: relative;
  top: 83px;
  left: -67px;
  width: 652px;
	animation:fadein 12s linear 1;
	z-index: 4;
}

@keyframes fadein {
    0% { opacity: 0; }
		70% { opacity: 0; }
 		100% { opacity: 1; }
}

#overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color: hsla(0,0%,0%,.89);
}

.info {
	position: absolute;
	bottom: 30px;
	right: 50px;
	font-size: 25px;
	color: hsl(230, 52%, 19%);
}

#index {
	display: inline-block;
}

#time {
	display: inline-block;
}

.b {
	position: relative;
	margin-right: 50px;
	float: left;
}

.a, .f, .m, .g, .s {
	position: relative;
	margin-right: 80px;
	float: left;
}
.a:last-child, .b:last-child, .f:last-child, .m:last-child, .g:last-child, .s:last-child {
	margin-right: 0;
}
.a div, .b div, .f div, .m div, .g div, .s div{
	position: relative;
	opacity: 0;
	background-color: #0000FF;
	float: left;
	animation: fadeIn 2s linear forwards;
}

.aa:nth-child(1) {
	z-index: 3;
	width: 12px;
	height: 50px;
	transform: skew(-20deg);
	margin-right: 6px;
}

.aa:nth-child(2) {
	z-index: 2;
	width: 12px;
	height: 50px;
	transform: skew(20deg);
}

.bb:nth-child(1) {
		z-index: 3;
		width: 12px;
		height: 50px;
		transform: skew(-20deg);
		margin-right: 6px;
}

.bb:nth-child(2) {
		z-index: 1;
		position: absolute;
		top: 38px;
		width: 24px;
		height: 12px;
		left: 5px;
		transform: skew(-20deg);
}

.bb:nth-child(3) {
		position: absolute;
		z-index: 1;
		top: 20px;
		left: 15px;
		width: 24px;
		height: 10px;
		margin-left: -3px;
		transform: skew(-20deg);
}

.bb:nth-child(4) {
 z-index: 1;
		position: absolute;
		top: 0px;
		width: 19px;
		height: 12px;
		left: 19px;
		transform: skew(-20deg);
}

.bb:nth-child(5) {
		z-index: 3;
		width: 12px;
		height: 8px;
		transform: skew(-20deg);
		margin-right: 6px;
		left: 4px;
		top: 12px;
}

.bb:nth-child(6) {
		z-index: 3;
		width: 12px;
		height: 8px;
		transform: skew(-20deg);
		margin-right: 6px;
		left: -15px;
		top: 30px;
}

.ff:nth-child(1) {
		z-index: 3;
		width: 12px;
		height: 50px;
		transform: skew(-20deg);
		margin-right: 6px;
}

.ff:nth-child(2) {
	position: absolute;
	z-index: 3;
	top: 0;
	width: 18px;
	height: 12px;
	left:19px;
	transform: skew(-20deg);
}

.ff:nth-child(3) {
	z-index: 1;
	position: absolute;
	top: 19px;
	width: 12px;
	height: 12px;
	left: 12px;
	transform: skew(-20deg);
}

.ss {
	width: 12px;
	height: 12px;
	transform: skew(20deg);
}

.gg:nth-child(1) {
	z-index: 4;
	width: 12px;
	height: 50px;
}

.gg:nth-child(2) {
	position: absolute;
	z-index: 3;
	top: 0;
	width: 20px;
	height: 12px;
	left:12px;
}

.gg:nth-child(3) {
z-index: 4;
		width: 12px;
		height: 24px;
		left: 12px;
		top: 26px;
}

.gg:nth-child(4) {
	z-index: 2;
	position: absolute;
	bottom: 0;
	height: 12px;
	width:12px;
	left: 12px;
}

.mm:nth-child(1) {
	z-index: 1;
	width: 12px;
	height: 50px;
}

.mm:nth-child(2) {
		z-index: 3;
		width: 24px;
		height: 12px;
		left: 0px;
}

.mm:nth-child(3) {
z-index: 2;
		width: 12px;
		height: 50px;
		left: 0px;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		background-color: #0000FF;
	}
	100% {
		opacity: 1;
		background-color: #FFFFFF;
	}
}
@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes slideIn {
	0% {
		left: 0;
		opacity: 0;
	}
	5% {
		opacity: 1;
	}
	85% {
		opacity: .9;
	}
	100% {
		opacity: 0;
		left: -100%;
	}
}

.mm:nth-child(3) {
	animation-delay: 0s;
}


.bb:nth-child(1) {
	animation-delay: 1s;
}

.ss:nth-child(1) {
	animation-delay: 2s;
}

.aa:nth-child(2),
.ff:nth-child(1) {
	animation-delay: 3s;
}

.gg:nth-child(1) {
	animation-delay: 4s;
}

.mm:nth-child(1) {
	animation-delay: 5s;
}

.mm:nth-child(2),
.bb:nth-child(6),
.ff:nth-child(2) {
	animation-delay: 6s;
}

.bb:nth-child(3),
.aa:nth-child(1) {
	animation-delay: 7s;
}

.gg:nth-child(2),
.bb:nth-child(2),
.ff:nth-child(3) {
	animation-delay: 8s;
}

.gg:nth-child(3),
.bb:nth-child(4) {
	animation-delay: 9s;
}

.gg:nth-child(4),
.bb:nth-child(5){
	animation-delay: 10s;
}

.social-box {
	position:absolute;
	margin-top: 90px;
	transform: scale(0.6);
}

.stackoverflow, .github, .linkedin {
	position: absolute;
	opacity: 0;
	float: left;
	animation: fadeInSocial 2s linear forwards;
}

.stackoverflow {
	height:43px;
	width:170px;
	animation-delay: 10s;
	margin-top: -17px;
	left: 160px;
}

.github {
	height:35px;
	width:135px;
	animation-delay: 12s;
	margin-top: 2px;
}

.linkedin {
	height:43px;
	width:170px;
	animation-delay: 8s;
	left: 425px;
}

@keyframes fadeInSocial {
	0% {
		opacity: 0;
		top: 30px;
	}
	100% {
		opacity: 1;
		top: 0px;
	}
}

@keyframes clouds {
    from {
			filter: hue-rotate(-90deg);
			background-position:0 0;
		}
    to {
			filter: hue-rotate(90deg);
			background-position:10000px 0;
		}
}

.clouds {
  position:absolute;
  top:100px;
  left:0;
  width:100%;
  height:100%;
  display:block;
	pointer-events: none;
  background:transparent url("../media/clouds-panda.png") repeat-x center center;
  z-index:6;
  animation:clouds 200s linear infinite;
}
